{
  "aegis_report_id": "neGcmxiTIeDBcIOiWX",
  "aegis_id_json_path": "./aegis_id.json",
  "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
  "sec_ch_ua": "Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\"",
  "expiry_duration_sec": 86400,
  "cookie_path": "./micromsg.json"
}